<!DOCTYPE html>
<!-- Website template -->
<html>
<head>
    <link rel="icon" href="assets/default/dodogangicon.png">
    <meta property="og:type" content="website">
    <meta name="author" content="Qbert">
    <meta name="author" content="Trikzon">
    <meta name="author" content="Andante">
    <meta property="og:title" content="Dodo Gang" />
    <meta property="og:description" content="Minecraft Mods" />
    <meta property="og:url" content="https://twitter.com/dodogangmods" />
    <meta property="og:image" content="assets/default/dodogangicon.png" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font.css">
</head>
<body>
  <div id="page">  
<p>CHeese is a good meal</p>
  </div>
</body>
</html>